.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  box-sizing: border-box;
  min-height: calc(550px + 180px);
  max-height: 1200px;
  background-image: radial-gradient(
    circle at center bottom,
    #fcd800,
    #f79f00
  );
  position: relative;
  pointer-events: none;
}
  .hero > img.text {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    top: 0;
  }
  .hero .planet img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    top: 1px;
    /* transition: opacity 0.1s 0.07s; */
  }
  .hero .planet[data-visible=true] img {
    opacity: 0;
  }
  .hero .planet canvas {
    /* transition: opacity 0.1s ; */
  }
  .hero .planet[data-visible=false] canvas {
    opacity: 0;
  }
  .hero .planet {
    /* max-height: 100%; */
    max-width: 100dvw;
    width: 100%;
    height: auto;
    max-height: 100%;
    aspect-ratio: 1;
    /* background-color: red; */
  }

  .hero div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .hero h1 {
    width: 500px;
    font-size: 115px;
    color: #0064e8;
    line-height: 100%;
    margin: 0;
    left: -8px;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Reem Kufi', sans-serif;
  }

  .hero p {
    font-size: 20px;
    color: #00214d;
    /* line-height: 120%; */
    margin: 0;
    position: relative;
    width: 500px;
    max-width: 100%;
    margin-bottom: 70px;
  }

  .hero a {
    all: unset;
    cursor: pointer;
    background-color: #0064e8;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    height: 56px;
    padding: 0 40px;
    border-radius: 100px;
    box-shadow: 0 0 0 4px rgb(0, 99, 230, 0.0);
    transition: box-shadow 0.2s;
    user-select: none;
    gap: 10px;
  }
    .hero a:hover, .hero a:focus-visible {
      box-shadow: 0 0 0 4px rgb(0, 99, 230, 0.20)
    }

@media only screen and (max-width: 1024px)
{
  .hero {
    min-height: 400px;
    max-height: 700px;
  }
}

@media only screen and (max-width: 500px)
{
  .hero {
    aspect-ratio: 4 / 5;
    height: auto;
    min-height: auto;
  }
}
