@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Reem+Kufi:wght@700&display=swap');

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background-color: white;
}

a {
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  overflow: hidden;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #170f00;
}

section.content {
  background-color: #170f00;
  padding-top: 30px;
  margin-bottom: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
  border-radius: 50px 50px 0 0;
  position: relative;
}

section.content::before {
  content: "";
  background-color: red;
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: radial-gradient( circle at center top, #fcd800, #f79f00 );
}

.revealable {
  opacity: 0;
}
  .revealable.revealed {
    animation: reveal ease-in 0.5s;
    opacity: 1;
    transform: none;
  }

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

section {
  display: flex;
  justify-content: center;
}

section > .container {
  width: 1200px;
  max-width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px)
{
  section > .container {
    max-width: calc(100% - 60px);
  }
  section.content {
    border-radius: 30px 30px 0 0;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 400px)
{
  section > .container {
    max-width: calc(100% - 40px);
  }
}